body {
  margin: 0;
  background-color: #f3371c;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  color: white;
  overflow: hidden;
}

a {
  color: white;
  text-decoration: none;
}

.container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: 100vh;
}

.left {
  height: 100vh;
}

.left img {
  height: 100vh;
}

.right{
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin: 5vh;
}

.right img {
  height: 100px;
  margin-bottom: 30px;
}

.modal {
  z-index: 2;
  background-color: white;
  width: calc(50vw - 60px);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
  border-radius: 5px;
  position: absolute;
  top: 50px;
  color: rgb(38, 38, 38);
  padding: 30px;
  overflow: auto;
  transition: all 0.5s ease-in-out;
  margin-left: 25vw;
  margin-right: 25vw;
}

.modal.hidden {
  top: -1000px;
}

.modal a {
  color: black;
  text-decoration: underline;
}

.modal ul {
  list-style: none;
  padding-left: 0;
}

.signupLink {
  margin: 15vh 0 15vh 0;
  display: block;
}

footer {
  margin: 0px;
  padding: 0px;
}

footer ul {
  display: flex;
  margin: 0px;
}

footer ul li {

  list-style: none;
  margin-left: 10px;
}

.btn {
  border-radius: 30px;
  border: 1px solid;
  padding: 10px 15px;
  background-color: #f3371c;
  color: white;
}

.btn:hover {
  background-color: rgb(42, 42, 134);
  box-shadow: 0px 3px 0px 0px rgb(21, 21, 79);
  transition: all 0.1s ease-in-out;
  transform: translateY(-3px);
}

.btn:active {
  background-color: rgb(42, 42, 134);
  transition: all 0.1s ease-in-out;
  transform: translateY(0px);
  box-shadow: none;
}


@media only screen and (max-width: 800px) {
    body{
      overflow: auto;
    }

    .container {
      flex-direction: column;
      height: auto;
      width: 100vw !important;
    }

    .modal {
      width: calc(100vw - 20px);
      top: 0;
      padding: 10px;
      margin: 0;
    }

    .left {
      height: auto !important;
    }

    .left img {
      width: 100vw;
      height: auto !important;
    }

    .right {
      width: auto;
    }

    footer ul {
      padding: 0px;
      flex-direction: column;
    }

    footer ul li {
      margin-top: 10px;
    }
}
